*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #fff;
    color:#333;
    font-size: 14px;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

img{
    display: block;
}

h2{
    cursor: pointer;
}

/* header */
.header{
    padding-left: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}

.logo a:hover img{
    width: 201px;
    object-fit: cover;
}

.gnb ul{
    /* display: none; */
}

.gnb{
    display: flex;
}

.gnb > li > a:hover {color: orangered;}

.gnb > li > a {
    display: block;
    padding: 0 60px;
    height: 100px;
    line-height: 100px;
}

.gnb li{
    position: relative;
    z-index: 2;
}

.gnb ul{
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 211.52px;
    background-color: rgba(20, 20, 20, 0.7);
    color: #eee;
}


.gnb ul a:hover {background-color: #333;}
.gnb ul a{
    display: block;
    text-align: center;
    padding: 17px;
}

/* 슬라이드 */
.slider{
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.slide{
    position: relative;
}

.slider h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    color: #fff;
    font-size: 50px;
    text-shadow: 11px 7px 10px #000;
}

/* contents */
.contents{
    height: 200px;
    padding: 10px 0;
    display: flex;
    gap: 18px;
}

.contents > div{
    /* background-color: yellowgreen; */
    flex: 1;
    width: 394px;
    position: relative;
}

.contents > div > a img {
    width: 388px;
    height: 180px;
}

.contents > div > h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #b6af8a;
    text-shadow: 1px 1px 0px #000;
    text-decoration-line: underline;
    /* cursor: pointer; */
}

/* contents -> board */
.board{
    line-height: 2.5;
}

.titles{
    height: 40px;
    display: flex;
    gap: 3.99px;
    border-bottom: 3px solid #333;
}

.titles h2{
    font-weight: normal;
    font-size: 15px;
    width: 192px;
    background-color: #ddd;
    text-align: center;
    line-height: 40px;
}

.titles h2.active {
    background-color: #333;
    color: #fff;
}

.board .notice_list li a:hover span:first-child{text-decoration-line: underline;}
.board .notice_list li a:hover span:last-child{color: #000;}

.board .notice_list li a{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    /* display: none; */
}

.gallery_list ul{
    display: flex;
    gap: 7px;
    padding: 8.5px 0 0 4px;
    /* justify-content: space-between; */
}

.items::after{
    position: absolute;
    top: 177px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #333;
}

/* 계산미스 수정하기 */
.gallery_list ul img{
    /* display: none; */
    width: 120px;    
}

/*  푸터  */
.footer{
    /* background-color: #eee; */
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.f_logo a:hover img{
    filter: opacity(0.9) drop-shadow(0 0 0 black);
}

.footer .copyright{
    font-size: 10px;
}

.footer .sns {
    display: flex;
    gap: 4px;
}

.sns a:hover img{ border-radius: 999px; }
.sns img{
    border-radius: 8px;
}

/* modal */
.modal{
    background-color: #fff;
    border: 1px solid #ddd;
    width: 400px;
    height: 390px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 30px;
    line-height: 2.1;
    display: none;
}

.modal h3{
    text-align: center;
    padding: 20px;
}

.modal button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #eee;
    width: 60px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
}
