@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnb ul a:hover{background-color: #666;}
.gnb > li > a:hover{color: orangered;}

.gnb{
    display: flex;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 60px;
    font-size: 16px;
}

.gnb ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #eee;
    display: none;
}

.gnb ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    /* 강사님은 패딩으로 처리함 (높이랑 라인하르트 두 개 코드 대신 하나니까 강사님께 개이득 padding: 0px 0; */
}

/* slider */
.slider {
    height: 300px;
}

.slides {
    display: flex;

}

.slide {
    position: relative;
}


.slide h2 {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
    /* border: 1px solid red; 이건 안됨 ㅋ */
}

/* 컨텐츠*/
.contents {
    height: 200px;
    padding: 10px 0;
    display: flex;
    gap: 15px;
}

.contents > div {
    width: 390px;
    height: 180px;
    /* background-color: red; */
}

.tab .titles{
    display: flex;
    gap: 4px;
    border-bottom: 2px solid orangered;
}

.tab .titles h4 {
    width: 193px;
    height: 46px;
    background-color: #ddd;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
}

.tab .titles .active {
    background-color: orangered;
    color: #eee;
}


.tab .items{
    padding: 10px;
}


.tab .notice_list li a{
    padding: 4px 0;
}

.tab .notice_list li a{
    display: flex;
    justify-content: space-between;
}

/*  나 밑에 코드 망함 */
/* 웹사이트의 리플래쉬를 안해서 그런거였음 */
.tab .notice_list li a:hover span:first-child {
    text-decoration: underline;
}

.tab .gallery_list{
    display: none;
}

.banner , .link {
    position: relative;
}

.banner img , .link img {
    width: 390px;
    height: 180px;
    display: block;
    object-fit: cover;
    /* position: relative; */
}

.banner h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
}


/* 푸터 */
.footer{
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.footer p{
    font-size: 12px;
    color: #666;
}

.footer .sns{
    display: flex;
    gap: 16px;
}

.footer .sns img{
    width: 40px;
    border-radius: 8px;
}

/* 모달 */
.modal {
    width: 360px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) ;
    display: none;
}

.modal p {
    margin-top: 30px;
    font-style: 13px;
}

.modal button {
    padding: 6px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* 패딩만큼 했음 */
}



