*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
}

body{
    font-size: 14px;
    color: #222;
    background-color: #fff;
    font-weight: normal;
}

.wrap{
    display: flex;
}

/* 헤더 */



.logo {
    width: 200px;
    /* background-color: red; */
 }

.logo img {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
 }

.gnb{
    position: relative;
    font-size: 16px;
}

.gnb > li > a{
    display: block;
    padding: 20px;
    text-align: center;

}

.gnb ul a:hover {background-color: #fff; color: #222;}
.gnb > li:hover {color: orangered;}

.gnb ul{
    position: absolute;
    top: 0;
    left: 200px;
    width: 200px;
    height: 400px;
    background-color: #222;
    z-index: 1;
}

.gnb ul a{
    display: block;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}

/* right */

.slider{
    width: 800px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.slides{
    position: absolute;
    display: flex;
    /* left:  */
}

/*  */













